img{
  min-width:300px ;
  min-height: 500px;
}
body div  {
   
    display: flex;
    float: left;
    margin: 3%;
    flex-grow: 3 ;
    
}


.image0 {
  background-image: url(../images/blend1.jpg);
  background-size: cover;
}
.image00 {
  background-image: url(../images/blend2.jpg);
  background-size: cover;
}
.image1 {
  background-image: url(../images/blend1.jpg);
  background-size: 15px 15px;
}
.image2 {
  background-image: url(../images/blend2.jpg);
  background-size: 30px 30px, cover;
}
.image3 {
  background-image: url(../images/blend2.jpg);
  background-size: 16px 16px, cover;;
}
.image3 {
  background-image:   url(../images/blend1.jpg),
                      url(../images/blend2.jpg);
  background-blend-mode: multiply;
  background-size: 50px 50px, cover;
}

.bg-blend2 {
  background-image: 
    url(../images/blend2.jpg),
    url(../images/blend1.jpg);
    
  background-blend-mode: multiply;
  background-size: cover;
}
.blend3{
  background-image: 
    url(../images/blend2.jpg),
    url(../images/blend2.jpg);
    
  background-blend-mode: multiply;
  background-size: cover;

}
.bg-blend {
  background-image: 
    url(../images/blend1.jpg),
    url(../images/blend1.jpg);

  background-blend-mode: multiply;
  background-size: 50px 50px, cover;
  background-repeat: repeat; 
}
.repeat-y {
  background-image: 
    url(../images/blend1.jpg);
   
  background-size: 80px 80px, cover;
  background-repeat: repeat-y;
  
}
.repeat-x{
  background-image: 
    url(../images/blend1.jpg);
   
  background-size: 50px 50px, cover;
  background-repeat: repeat-x;
  
}




